*{margin:0;padding:0;}
	section#menuSection {
    background: #054882d4;
    width: 100%;
    height: 78px;
    }
	div#bitorBox {
    display: inline-table;
    padding: 0px 4px;
    position: relative;
    top: -11px;
    }
	#logoDiv h1 {
    font-size: 42px;
    font-family: arial;
    color: white;
    margin-top: 23px;
    }
	div#subDiv {
    width: 1170px;
    margin: auto;
    }
	div#logoDiv {
    width: 300px;
    float: left;
    position: relative;
    left: 57px;
    top: -3px;
    }
	div#typeDiv {
    float: right;
    position: relative;
    right: 81px;
   }
	h3#singUpheadLine {
    color: white;
    position: relative;
    top: 19px;
    font-size: 14px;
   }
   #bitorBox input {
   padding: 3px 0px;
   border: none;
   position: relative;
   top: 22px;
   }
   input#battonInput {
    margin: 0px 10px;
    padding: 0px 1px;
    border-radius: 2px;
    background: #0f5c92d9;
    border: 1px solid black;
    color: white;
    }
    #forgetDiv a {
	text-decoration:none;
	color:white;
	}
	div#forgetDiv {
    position: relative;
    top: 24px;
    font-size: 13px;
    }
	 #forgetDiv a:hover{
	 border-bottom:1px solid;
	 
	 }
	 #battonInput:hover{
	 background:#2381c3d9;
	 color:white;
	 }
	 div#headlineDiv {
    font-size: 42px;
    font-family: system-ui;
    }
	section#singupSection {
    width: 406px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
   }
    div#subheadlineDiv {
    font-size: 21px;
    margin-bottom: 10px;
    font-family: emoji;
   }
    #fastDiv input{
	font-size: 14px;
	width: 47%;
	padding: 10px 3px;
	}
	div#secandDiv {
    margin-top: 10px;
   }
   #secandDiv input{
   padding:10px;
   width: 94%;
   font-size: 17px;
   }
   #triendDiv input{
   padding:10px;
   width: 94%;
   font-size: 17px;
   }
   div#triendDiv {
    margin-top: 10px;
   }
   div#subDate {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    color: #676562;
    font-family: inherit;
   }
    #ptagDiv p{
	font-size: 12px;
	color: #444444d1;
	}
   div#ptagDiv {
    width: 322px;
    margin-top: 10px;
    }
     div#buttonDiv {
    width: 200px;
    margin-top: 10px;
    }
    #buttonDiv input{
	width:100%;
	padding: 3px;
	font-size: 21px;
	font-family: arial black;
	color: white;
	background: #4d9c33f0;
	border: 1px solid black;
	border-radius: 5px;
	}
    
     #ptagDiv a{
	 text-decoration:none;
	 }
     #ptagDiv a:hover{border-bottom:1px solid;}
     #buttonDiv input:hover{background:#2a7312f0;}
   
   